.home {
    margin: auto;
    width: 60%;
    height: 100%;
    padding-bottom: var(--l-padding);
}

.home__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--m-padding) 0;
    border-bottom: 1px solid var(--border-color);
}

.home__title {
    font-size: 1.5em;
}

.home__search {
    border: none;
    border-radius: var(--border-radius);
    background: var(--secondary-bg-color);
    padding: var(--m-padding);
    color: var(--subtext-color);
    min-width: 290px;
}

.card {
    margin: var(--m-padding) 0;
    word-wrap: break-word;
    border-radius: var(--border-radius);
    padding: var(--l-padding);
    transition: 0.1s;
}

.hill-card:hover {
    background: var(--secondary-bg-color);
}

.hill-card__link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2em;
}

.hill-card__link:hover {
    color: var(--accent-hover-color);
}

.hill-card__description {
    padding: var(--m-padding) 0;
}

.hill-card__author {
    color: var(--subtext-color);
}

.hill-card__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hill-card_dates {
    display: flex;
    flex-direction: column;
}

.hill-card__date {
    font-size: 0.9em;
    color: var(--subtext-color);
}

.hill-card__delete {
    margin-left: var(--m-padding);
    background: none;
    border: none;
}

.hill-card__edit svg {
    fill: var(--text-color)
}

.hill-card__edit svg:hover {
    cursor: pointer;
    fill: var(--subtext-color);
}

.hill-card__delete svg {
    fill: var(--delete-color)
}

.hill-card__delete svg:hover {
    cursor: pointer;
    fill: var(--delete-hover-color);
}

.home__next {
    display: flex;
    justify-content: center;
}

.load-more {
    display: flex;
    align-items: center;
    background: none;
    border: 2px solid var(--accent-bg-color);
    border-radius: var(--border-radius);
    padding: var(--s-padding) var(--m-padding);
}

.load-more:hover {
    background: var(--secondary-bg-color);
    cursor: pointer;
}
