.notice {
    width: 100%;
    display: flex;
    align-items: stretch;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.notice__show {
    opacity: 1;
}

.notice__line {
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius);
    margin-right: var(--m-padding);
}

.notice__text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.notice__title {
    text-transform: capitalize;
}   

.notice__text {
    word-wrap: break-word;
}

.notice .error {
    color: var(--delete-color);
    border-color: var(--delete-color);
}
