.create {
    margin: auto;
    width: 60%;
    height: 100%;
}

.create__title {
    font-size: 1.5em;
    padding: var(--m-padding) 0;
    border-bottom: 1px solid var(--border-color);
}

.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    margin-bottom: var(--s-padding);
}

.form__input {
    border: none;
    border-radius: var(--border-radius);
    background: var(--secondary-bg-color);
    margin-bottom: var(--l-padding);
    padding: var(--m-padding);
    color: var(--subtext-color);
}

textarea.form__input {
    height: 200px;
    resize: vertical;
}

.form__save {
    float: right;
    border: none;
    background: var(--accent-bg-color);
    color: var(--accent-text-color);
    text-decoration: none;
    padding: var(--s-padding) var(--m-padding);
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-bg-color);
}

.form__save:hover {
    cursor: pointer;
    background: var(--accent-hover-color);
    border: 2px solid var(--accent-hover-color);
}
