.theme-switch__button {
    border: none;
    position: relative;
    background-color: var(--secondary-background-color);
    width: 20px;
    height: 20px;
    top: 4px;
}

.theme-switch__button:hover {
    cursor: pointer;
}

.theme-switch__icon {
    fill: var(--accent-color);
    width: 20px;
    height: 20px;
}

.theme-switch__icon:hover {
    fill: var(--text-color);
}

.theme-switch__icon--sun {
    fill: var(--text-color);
    width: 20px;
    height: 20px;
}

.theme-switch__icon--sun:hover {
    fill: var(--accent-bg-color);
}
