text {
    fill: var(--text-color);
}

circle, image {
    cursor: pointer;
}

.selected-marker {
    stroke: var(--accent-bg-color);
}

.image-marker {
    min-width: 26px;
    min-height: 26px;
    object-fit: stretch;
}
